@model List<BlogEntity>
<a href="/Blog/Create" class="btn btn-success">New</a>

<table class="table table-responsive">
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Author</td>
            <td>Content</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Blog/Edit/@item.BlogId" class="btn btn-outline-warning">Edit</a>
                    <button class="btn btn-danger btn-delete" data-blog-id ="@item.BlogId">Delete</button>
                </td>
                <td>@item.BlogId</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogAuthor</td>
                <td>@item.BlogContent</td>
            </tr>
        }

    </tbody>
   
</table>
@section scripts {
    <script>
        $('.btn-delete').click(function (e) {
            e.preventDefault();

            let isConfirm = confirm("Are you sure you want to delete ?");
            if (!isConfirm) return;

            let id = $(this).data('blog-id');
            let _blog = {
                BlogId: id,
            };

            $.ajax({
                type: 'POST',
                url: '/Blog/Delete',
                data: { blog: _blog },// first blog is from controller - : 2nd blog -- from javascript
                //data : JSON.stringify(_blog),
                //contentType : 'application/json',
                dataType: "JSON",
                success: function (result) {
                    //console.log(result);
                    const message = result.Message;
                    if (!result.IsSuccess) {
                        alert(message);
                        return;
                    }

                    alert(message);
                    location.href = "/Blog/Index";
                },
                error: function (xhr, status, error) {
                    console.log({ xhr, status, error })
                }
            });
        })
    </script>
}